.sequences {
  text-align: center;

  h1 {
    font-family: 'Lobster';
    color: $color-focus;
    font-size: 50px;
    margin-bottom: 20px;

    span { 
      margin-right: 20px;
    }

    i {
      position: relative;
      top: 3px;
      font-size: 45px;
      @include transition(color 0.2s ease-in-out);

      &:hover {
        color: $color-fade;
        cursor: pointer;
      }
    }
  }

  ul {
    li {
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: $color-fade;

      &:hover {
        background-color: $color-focus;
        cursor: pointer;
      }
    }
  }
}