.sequence-new {
  text-align: center;
  width: 315px;
  margin: auto;

  h1 {
    font-family: 'Lobster';
    color: $color-focus;
    font-size: 50px;
    margin-bottom: 20px;
  }

  input {
    color: $color-focus;
    font-size: 30px;
    width: inherit;
    margin-bottom: 20px;
  }

  .Select {
    width: 315px;
    margin: auto;
    margin-bottom: 20px;

    input {
      font-size: 12px;
    }
  }

  button {
    width: 315px;
    padding: 8px;
    background-color: $color-fade;
    @include transition(background-color 0.2s ease-in-out);

    &:hover {
      background-color: $color-focus;
    }
  }
}