.sequence-editor {
  position: absolute;
  bottom: 0;
  width: 100%;

  ul {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      background: $color-fade;
      color: white;
      border-radius: 20px;
      margin-right: 18px;
      @include transition(all 0.5s linear);

      &.selected {
        background: $color-focus;
      }

      &::after {
        width: 20px;
        height: 2px;
        background: $color-fade;
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -1px;
      }

      &:last-child::after {
        display: none;
      }

      .step-content {
        max-height: 0px;
        max-width: 0px;
        overflow: hidden;
        opacity: 0;
        @include transition(all 2s linear);
        transition-property: max-width, opacity, max-height;
        transition-delay: 0.4s, 0, 0;
        transition-duration: 0.5s, 0.5s, 0.5s;

        &.show {
          max-width: 1000px;
          max-height: 1000px;
          opacity: 1;
          transition-property: max-width, opacity, max-height;
          transition-delay: 0, 0, 0.4s;
        }
      }
    }
  }
}