.sequence-editor {
  position: absolute;
  bottom: 0;
  width: 100%;

  ul {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      background: $color-fade;
      color: white;
      border-radius: 20px;
      margin-right: 18px;
      height: 20px;

      &::after {
        width: 20px;
        height: 2px;
        background: $color-fade;
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -1px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}