.sequence-editor {
  position: absolute;
  bottom: 0;
  width: 100%;

  ul.steps {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;

    li.step {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      background: $color-fade;
      color: white;
      border-radius: 20px;
      margin-right: 18px;
      @include transition(all 0.5s linear);

      &.selected {
        background: $color-focus;
      }

      &::after {
        width: 20px;
        height: 2px;
        background: $color-fade;
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -1px;
      }

      &:last-child::after {
        display: none;
      }

      .step-content {
        max-height: 0px;
        max-width: 0px;
        font-size: 1px;
        overflow: hidden;

        &.show {
          font-size: 14px;
          max-width: 1000px;
          max-height: 1000px;
        }

        ul {
          text-align: left;

          li {
            input {
              background: none;
              font-size: 14px;
              color: white;
            }

            span {
              color: $color-fade;
            }
          }
        }
      }
    }
  }
}