.sequence-viewer {
  height: 100%;
  width: 100%;

  h1 {
    position: fixed;
    font-family: Lobster;
    top: 10px;
    color: $color-focus;
    font-size: 40px;
    width: 100%;
    text-align: center;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}